<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "help/menu_options" %>
<h1> Pomoc - Licytacja </h1>

Aby zalicytować aukcje należy podać cene a następnie kliknąc Licytuj <br />
W aukcji typu kup teraz nie można wprowadzić ceny jedynie należy kliknąc licytuj
<img src="/images/help/bid.png">
<br />
<br />
W lewym rogu pod nagłowkiem licytowane ceny można zobaczyc historie licytacji.