<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "help/menu_options" %>
<h1> Pomoc - Anuluj ofertę kupna </h1>

Aby usunąć swoją oferte sprzedaży należy skontaktować się z administratorem lub w poniższym widoku wybrać opcje