<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "help/menu_options" %>
<h1> Pomoc - Wycofaj wystawioną aukcję </h1>

Aby dokonać usunięcia aukcji należy w widoku moje aukcje wybrać X w odpowiedniej kolumnie przy znaczniku usuń dla aukcji przez nas wybranej.
<img src="/images/help/cancel_offer1.png">
<br />
<br />
Inna możliwościa jest wybranie opcji edit w powyzszym widoku a nastepnie w nowym widoku Usuniecie aukcji.
W poniższym widoku można również dokonać edycji.
<br />
<img src="/images/help/cancel_offer2.png">
<br />
<br />