<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "help/menu_options" %>
<h1> Pomoc - Tworzenie nowej aukcji </h1>

Aby utworzyc nowa aukcje należy być <b>ZALOGOWANYM</b> oraz konto użytkownika powinno być <b>AKTYWNE</b>
Następnie należy wybrać opcje moje aukcje

<img src="/images/help/Home__add.png">
<br />
<br />
W następnym widoku z lewej strony ekranu odnaleziemy przycisk dodaj aukcje
<br />
<br />
<br />
<img src="/images/help/add_button.png">
<br />
Nastepnie pojawi nam się wizzard w którym mozemy wybrać jedna z czterech opcji
<img src="/images/help/wizzard1.png">
<br />
Gdy wybierzemy jedną z opcji należy wypełnić danymi formularz.<br />
Należy pamiętać, że poprawny adres ma postać http://www.domena.pl<br />
Równocześnie nie można założyć aukcji z opcja Kup teraz oraz Licytacja
<br />
<img src="/images/help/wizzard2.png">
<br /><br />
Przechodząc za pomocą przycisku "Dalej" do następnej części pojawi się nam okno w którym potwierdzamy utworzenie aukcji
<br />
<b>UWAGA PO KLIKNIĘCIU DALEJ NASTEPUJE UTWORZENIE AUKCJI.
ABY AUKCJA STAŁA SIE AKTYWNA NALEŻY JA AKTYWOWAĆ POPRZEZ LINK WYSŁANY NA E-MAIL</b>
<br />
<img src="/images/help/wizzard3.png">
<br /><br />
Ostatnim elementem jest podsumowanie
<img src="/images/help/wizzard4.png">
<br /><br />
