<%= render :partial=> "products/search_box_simple" %>
<%= render :partial => "help/menu_options" %>
<h1> Pomoc - Rejestracja</h1>

Aby dokonać rejstracji w serwisie należy kliknąć w jeden z zaznaczonych odnośników.

<img src="/images/help/Home_register.png">
<br />
Następnie pojawi nam sie następujący widok, który powinniśmy uzupełnić danymi personalnymi.

<img src="/images/help/register.png">
<br />
Po kliknięcu na klawisz rejestruj następuje utworzenie konta w systemie.
<br />
<b>Aby w pełni kozystać z funkcji serwisu należy dokonać aktywacji poprzez link wysłany na pocztę.</b>