<%= render :partial => "home/home_options" %>
<%= render :partial=> "products/search_box_simple" %>
<% if  current_user%>
            <% if  current_user.is_admin? %>
                <h1>Zarządzaj artykułami</h1>
            <%  else %>
            <h1>Strona główna</h1>
            <% end %>
<% else %>
<h1>Strona główna</h1>
<% end %>


<% if  current_user%>
     <% if  current_user.is_admin? %>
          <%= render :partial=>"/articles/index_admin" %>
     <% else %>
          <%= render :partial=>"/articles/index_users" %>
      <% end %>
<% end %>

