Witaj!<br /><br />
Twoja aukcja została utworzona, ale nie jest aktywna.<br /><br />

<b>Adres aukcji:</b> <%= @auction_url %><br /><br />

Aby zaktywować aukcję postępuj zgodnie z instrukcją:<br /><br />
<ol>
  <li>Umieścić token: <%= @auction_activation_token %> w treści strony, której dotyczy aukcja ( <%= @auctionable_url %> )</li>
  <li>Kliknij w link: <%= @auction_activate_url %> <br />(Jeżeli kliknięcie w link nie dało skutku, wklej adres URL do przeglądarki.)
</ol>
<br /><br />
<b>Uwaga!</b> Pamiętaj, że link aktywacyjny znajduje się pod adresem aukcji.
Będzie tam wyświetlany do momentu aktywacji aukcji.

<br /><br />
Z wyrazami szacunku,<br />
<i>Kram-reklam.pl</i>
