<%#= stylesheet_link_tag "auctions" %>
<%# content_for :optional_menus do %>

                        <%#*<div id="leftMenu">%>
                           <%#*<p class="naglowek">Opcje aukcji</p>%>
                           <%#*<ul>%>
                               <%#*<li><%= link_to 'Nowa aukcja', new_auction_path %></li>%>
                               <%#*<li>Aktualne aukcje</li>%>
                               <%#*<li>Historia</li>%>

                           <%#*</ul>%>
                        <%#*</div>%>
<%# end %>

