<%#= render :partial => "auctions/user_auctions_options"  %>

	<%#= javascript_include_tag "tiny_mce/tiny_mce" %>
		<%#*<script type="text/javascript" >%>
			<%#*tinyMCE.init({%>
				<%#*mode:"textareas",%>
				<%#*editor_selector : "tiny_mce"%>
			<%#*});%>
		<%#*</script>%>

	<%#*<h1>Nowa aukcja</h1>%>
	<%# form_for :auction, :url => {:action => "create"} do |f| %>
		<%#= f.error_messages %>
		
		<%#= render :partial => "form", :object => f %>
		<%#= f.submit "Utwórz aukcję" %>
	<%# end %>
	
