<%= stylesheet_link_tag "products" %>
<% content_for :optional_menus do %>

                        <div id="leftMenu">
                           <p class="naglowek">Polityki płatności</p>
                           <ul>
                               <li><%= link_to "Dodaj", "/payment_politics/new" %></li>
                               <li><%= link_to "Zarządzaj politykami", "/payment_politics" %></li>

                           </ul>
                        </div>
<% end %>
