< title "Edit Payment Politic" %>
<% form_for @payment_politic ,:url => {:action => "update"} do |f| %>
<%= render :partial => 'form', :locals=>{:f=>f} %>
<% end %>
<p>
  <%= link_to "Show", @payment_politic %> |
  <%= link_to "View All", payment_politics_path %>
</p>


