<%= render :partial => "payment_politics/payment_politics_options" %>
<%= render :partial=> "products/search_box_simple" %>

<h1> Nowa polityka płatności </h1>
<% form_for @payment_politic ,:url => {:action => "create"} do |f| %>
<%= render :partial => 'form', :locals=>{:f=>f} %>
<% end %>

