
<%= render :partial => "payment_politics/menu" %>
<h1> Nowa polityka płatności </h1>
<% form_for @payment_politic ,:url => {:action => "create"} do |f| %>
<%= render :partial => 'form', :locals=>{:f=>f} %>
<% end %>

