/* 
    Document   : password_resets
    Created on : 2009-11-23, 19:20:02
    Author     : Agnieszka
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#email input{
    width:300px;
}
