
<% if Interest.count>0%>
  <% for  intr in Interest.all-%>
 <div class="category">
           <%= check_box_tag "user[interest_ids][]", "#{intr.id}", @user.interests.include?(intr) -%>
           <%= "#{intr.name}" -%>
 </div>
  <% end -%>
<% else %>
  Nie posiadasz zainteresowań
<% end %>