<%= stylesheet_link_tag "products" %>
<% content_for :optional_menus do %>

                        <div id="leftMenu">
                           <p class="naglowek">Polityki płatności</p>
                           <ul>
                               <li><%= link_to "Dodaj", "/interests/new" %></li>
                               <li><%= link_to "Lista", "/interests" %></li>

                           </ul>
                        </div>
<% end %>
