

<h1> Zarządzaj aukcjami archiwalnymi</h1>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for archival_auctions in @archival_auctions %>
    <tr>
      <td><%=h archival_auctions.name %></td>
      <td><%= link_to "Show", archival_auctions %></td>
      <td><%= link_to "Edit", edit_archival_auctions_path(archival_auctions) %></td>
      <td><%= link_to "Destroy", archival_auctions, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

