<table id="TabFullSize">
  <tr>
    <td colspan="3" class="header">Role użytkownika <b><%= @user.login %></b> </td>
  </tr>
  <tr>
    <td class="header">Nazwa roli</td>
    <td class="header">Obiekt</td>
    <td class="header">Usuń</td>
  </tr>
  <%@user_roles.each do |r|%>
            <tr>
              <td><%= r.name %></td>
              <td><%= render :partial=>"role", :locals=>{:r=>r} %></td>
              <td><%= link_to "Usuń", :action => "remove_role_from_user", :user_id => params[:user_id], :role_id => r.id%></td>
            </tr>
  <%end%>
</table>
