<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "style_for_no_right_panel" %>
<h1> Regulamin </h1>

<ol style="padding-left:30px;">
  <li>Zgodnie z Ustawą o Ochronie Danych Osobowych z dnia 29.08.1997 wyrażam zgodę na przetwarzanie moich danych
      osobowych dla potrzeb niezbędnych do korzystania z serwisu</li>
  <li>i tak dalej</li>
</ol>