<table>
	<tr>
		<td>
			Show
		</td>

		<td>
			End
		</td>
		<td>
			Current price
		</td>
	</tr>
	<% @auctions.each do |auction|%>
	<tr>
		
		<td>
			<%=link_to "Show", :controller => "products", :action => "show",:id => auction.auctionable_id,  :product_type => auction.auctionable_type%>
		</td>

		<td>
			<%= auction.auction_end%>
		</td>
		<td>
			<%= auction.current_price%>
		</td>
	</tr>
	<% end %>
</table>