<td></td>
<td  class="bottom" align="right">
                      <%=f.submit "Szukaj" %>&nbsp;&nbsp;&nbsp;<br />
                      <%= link_to "Wyszukiwanie podstawowe", {:search_type=>"simple", :action => "index",:controller=>"products", :product_type => "site_link", :search => params[:search]} %>&nbsp;&nbsp;&nbsp;
            </td>