<% content_for :search_box do %>
        <div class="search">
           <% form_for :search, {:controller => 'products', :action => 'simple_search'} do |f|%>
          <table>
            <tr>
              <td style="width:280px;">
                  Typ reklamy:
<% @options = {:SiteLink => 'Link' , :Banner => 'Banner', :PopUp => 'Pop up', :SponsoredArticle =>'Artykuł sponsorowany'} %>
<%= select_tag(:product_type, options_for_select(@options)) %>
              </td>
              <td style="width:340px;">
                   Kategoria:
                  <input type="text" value="Szukana kategoria" style="width:230px;" />
              </td>
              <td  class="bottom_simple_box" align="right">
                  <%= submit_tag "Szukaj" %>
                  <%= link_to "Zaawansowane wyszukiwanie", {:search_type=>"advanced", :action => "index",:controller=>"products", :product_type => "site_link", :search => params[:search]} %></a>
              </td>
            </tr>
          </table>

        </div>
        <% end %>
<% end %>