<% content_for :search_box do %>
        <div class="search">
            <% form_tag ({:controller => 'products', :action => 'simple_search'}) do %>
          <table>
            <tr>
              <td style="width:280px;">
                  Typ reklamy:
                  <select>
                      <option> Wszystkie kategorie</option>
                      <option>Banner</option>
                      <option>Link</option>
                      <option>Pop up</option>
                      <option>Artykuł sponsorowany</option>
                  </select>
              </td>
              <td style="width:340px;">
                   Kategoria:
                  <input type="text" value="Szukana kategoria" style="width:230px;" />
              </td>
              <td  class="bottom_simple_box" align="right">
                  <%= submit_tag "Szukaj" %>
                  <%= link_to "Zaawansowane wyszukiwanie", {:search_type=>"advanced", :action => "index",:controller=>"products", :product_type => "site_link", :search => params[:search]} %></a>
              </td>
            </tr>
          </table>

        </div>
        <% end %>
<% end %>