<div class="cancelbox">
    <center><b>ODWOŁANE</b></center><br />
    <% if @product.auction.bids.cancelled.by_offered_price.count==0 %>
    <center><i>Brak</i></center>
    <% else %>
     <table class="cancelbox_tab">
      <tr>
        <td><i> Data</i> </td>
        <td width="80"> Kwota </td>
        <td></td>
      </tr>
          <% @product.auction.bids.cancelled.by_offered_price.each do |bid| %>
      <tr>
        <td><%= bid.user.created_at.strftime("%d-%m-%Y godz: %H:%m")%></td>
        <td><b style='color:red'><%= bid.offered_price %> zł</b></td>
        <%  if current_user.is_admin? or current_user.id == bid.user.id %>

            <td><%= bid.user.login %></td>
        <% end %>


     </tr>
          <% end %>

     </table>
     <%end%>
</div>