<%= render :partial=> "products/search_box_simple" %>
<%= stylesheet_link_tag "style_for_no_right_panel" %>
<h1> Wyniki wyszukiwania</h1>
<br />
#TODO tu powinny się pojawić wyniki wyszukiwania aukcji wg kategorii i typu aukcji
